<!-- views/partials/nav-bottom.ejs -->
<nav id="bottom-nav" class="bottom-nav">
  <a href="/home" class="nav-item icon-wrapper">
    <%- include("icons/home") %>
  </a>
  <a href="/communities" class="nav-item icon-wrapper">
    <%- include("icons/group") %>
  </a>
  <a href="/events" class="nav-item icon-wrapper">
    <%- include("icons/events") %>
  </a>
  <a href="/messages" class="nav-item icon-wrapper">
    <%- include("icons/chat") %>
  </a>
  <a href="/profile" class="nav-item icon-wrapper">
    <%- include("icons/user") %>
  </a>
</nav>