<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/styles.css' />
  <link rel="stylesheet" href="/css/communities.css" />
  <link rel='stylesheet' href='css/effects.css' />
  <link rel="stylesheet" href="https://use.typekit.net/yrl0zql.css">
</head>
<body>
  <div class="communities-wrapper">
    <h1><%= title %></h1>

    <div class="create-button">
      <a href="/communities/new">
        <button>Create New Community</button>
      </a>
    </div>

    <% if (communities.length === 0) { %>
      <p>You are not in any communities yet.</p>
    <% } else { %>
      <% communities.forEach(c => { %>
        <div class="community-card">
          <h2><%= c.name %></h2>
          <p><%= c.description %></p>
          <a href="/communities/<%= c._id %>">
            <button>View Community</button>
          </a>
        </div>
      <% }) %>
    <% } %>
  </div>
</body>
