<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Header Content -->
  <%- include('partials/head') %>
</head>

<body>

  <!-- Top Navigation -->
  <%- include('partials/nav-top') %>

  <% if (user && user._id) { %>
  <%- include("partials/nav-drawer") %>
  <% } %>

  <!-- Main Content -->
  <%- body %>

  <div id="global-modal">
    <div id="modal-body">
      <button id="modal-close">✖</button>
      <!-- Dynamic content container -->
      <div id="modal-dynamic-content">Loading...</div>
    </div>
  </div>

  <!-- Global App Settings -->
  <%- include('partials/global') %>

  <!-- Bottom Navigation Buttons -->
  <% if (user && user._id) { %>
  <%- include('partials/nav-bottom') %>
  <% } %>
  <!-- Socket + modular client-side logic -->
  <script>
    const notifications = <%- JSON.stringify(locals.notifications || []) %>;
    window.notifications = notifications;
    window.userId = "<%= userId || '' %>";
  </script>

  <!-- Client-Side JS Scripts -->
  <%- include('partials/scripts') %>

</body>

</html>