<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Header Content -->
  <%- include('partials/head') %>
</head>

<body>

  <!-- Top Navigation -->
  <%- include('partials/nav-top') %>

  <% if (user && user._id) { %>
  <%- include("partials/nav-drawer") %>
  <% } %>

  <!-- Main Content -->
  <%- body %>


  <!-- Global App Settings -->
  <%- include('partials/global') %>

  <!-- Bottom Navigation Buttons -->
  <% if (user && user._id) { %>
  <%- include('partials/nav-bottom') %>
  <% } %>
  <!-- Socket + modular client-side logic -->
  <script>
    const notifications = <%- JSON.stringify(locals.notifications || []) %>;
    window.notifications = notifications;
    window.userId = "<%= userId || '' %>";
  </script>

  <!-- Client-Side JS Scripts -->
  <%- include('partials/scripts') %>

</body>

</html>