<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Header Content -->
  <%- include('partials/head') %>
</head>

<body>

  <!-- Top Navigation Buttons -->
  <%- include('partials/nav-top') %>

  <!-- Main Content -->
  <%- body %>

  <!-- Modal Popup Template -->
  <%- include('partials/modal') %>

  <!-- Global App Settings -->
  <%- include('partials/global') %>

  <!-- Bottom Navigation Buttons -->
  <%- include('partials/nav-bottom') %>

    <!-- Client-Side JS Scripts -->
    <%- include('partials/scripts') %>

</body>

</html>