<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
    <% messages.forEach(msg => { %>
    <div class="message-block">
        <p id="msg-<%= msg._id %>" class="original-text">
        <%= msg.text %>
        </p>
        
        <button 
        class="translate-btn" 
        data-message-id="<%= msg._id %>">
        Translate
        </button>
        
        <!-- optional: placeholder for translation -->
        <div class="translated-text" id="translated-<%= msg._id %>"></div>
    </div>
    <% }) %>

    <script src="/js/messages.js"></script>
</body>
</html>