<h1>Your Notifications</h1>

<% if (notifications.length === 0) { %>
  <p>You have no notifications at the moment.</p>
<% } else { %>
  <form method="POST" action="/notifications/mark-all-read">
    <button class="btn btn-secondary" type="submit">✅ Mark All as Read</button>
  </form>

  <ul class="notification-list">
    <% notifications.forEach(note => { %>
      <li class="notification-item" id="notif-<%= note._id %>">
        <div class="notification-content">
          <p><%= note.message %></p>

          <% if (note.link && note.link.includes('/communities/')) { %>
            <button 
              class="btn open-invite-modal" 
              data-notification-id="<%= note._id %>" 
              data-message="<%= note.message %>" 
              data-link="<%= note.link %>">
              View Invite
            </button>
          <% } else if (note.link) { %>
            <a href="<%= note.link %>" class="btn">View</a>
          <% } %>
        </div>
      </li>
    <% }) %>
  </ul>
<% } %>